/*
	palette:
	#202d77 rv1g blue
	#00c895 cyan
	#c8fcea light tone
	#518071 grey
*/

.gold {
    background-color: gold;
    width: 60px;
}
.silver {
    background-color: silver;
    width: 60px;
}
.bronze {
    background-color: #cd7f32;
    width: 60px;
}
.merit {
    background-color: lightgreen;
    width: 60px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }